// ====================
// TYPOGRAPHY
// ---

$font-body:             'Open Sans', sans-serif;
$font-bold:          	'Open Sans', sans-serif;
$font-semibold:	        'Open Sans', sans-serif;
$font-light:	   		'Open Sans', sans-serif;

$font-weight-body:		500;
$font-weight-bold:		700;
$font-weight-semibold:	600;
$font-weight-light:		400;			

// ====================
// Font Size Rem
// Default: 1rem = 16px
// ---
$size-default:		16px;
$line-height-default: 1.42857143;


// ====================
// Colors scheme for Themes
// ---
$white-color:			#fff;
$black-color:			#000;
$link-color:			#92b558;
$body-color:			#808890;	
$title-color:			#343434;		
$border-color: 			#a7a7a7;
$bg-color:				#eaeaea;


// ====================
// Devices
// ---
$desktop:               1200px;
$tablet-ht:             992px;		// Tablet Horizontal
$tablet-vt:             768px;		// Tablet Vertical
$mobile:                640px;
$mobile-md:             480px;
$mobile-sm:             360px;
$mobile-xs:             320px;


// ====================
// List for space around: padding, margin 
// ---
$list-item: 30px, 40px, 50px, 60px; 
