.position-relative {
  position: relative;
  z-index: 10;
}

.ion-list {
  margin: 0;
}

.logo {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  color: #000000;
  white-space: normal;
  text-transform: capitalize;
  @include wp-font(font-bold);
  font-size: 12px;
  margin: 0;
  text-align: center;
  cursor: default;
  pointer-events: none;
  &:hover,
  &:focus {
    color: $black-color;
  }
  img {
    max-width: 40px;
  }
  @media (min-width: $desktop) {
    border-bottom: 1px solid #dde1e3;
    padding: 32px 10px;
    img {
      margin-bottom: 10px;
    }
  }
}

.ion-menu {
  background-color: $white-color;
}

.ion-nav {
  padding: 16px;
}

.scroll-content {
  -ms-overflow-style: none; // IE 10+
  overflow: -moz-scrollbars-none; // Firefox
  &::-webkit-scrollbar {
    display: none;
    width: 0;
  }
}

@media (min-width: $desktop) {
  .ion-nav {
    left: 96px;
    width: auto;
    right: 0;
  }
  .block-menu {
    height: calc(100vh - 120px);
    a {
      text-align: center;
    }
    li {
      border-top: 1px solid #dde1e3;
      &:first-child {
        border-top: 0 none;
      }
    }
    .list-group-item {
      border: 0 none;
      display: block;
      padding: 20px 10px;
      border-radius: 0;
      white-space: normal;
      text-transform: capitalize;
      @include wp-font(font-bold);
      font-size: 12px;
      color: #808890;
      margin: 0;
      text-align: center;
      background-color: transparent;
      &:hover,
      &:focus {
        color: $link-color;
        background-color: transparent;
      }
      .fa {
        font-size: 24px;
        display: block;
      }
    }
  }
}

.form-control {
  height: 60px;
  font-size: 24px;
  border-color: $white-color;
  &:focus {
    border-color: $link-color;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba($link-color, .6);
  }
}

.btn {
  padding: 12px;
  font-size: 24px;
  @include wp-font(font-bold);
}

.btn-primary {
  background-color: $link-color;
  border-color: $link-color;
  &:hover,
  &:focus {
    background-color: darken($link-color, 8%);
    border-color: darken($link-color, 8%);
  }
}

.row {
  justify-content: center;
}

@media (min-width: 768px) {
  .nowrap {
    white-space: nowrap;
  }
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td {
  vertical-align: middle;
  &:first-child {
    color: $title-color;
  }
}

.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_paginate,
.dataTables_wrapper .dataTables_processing {
  color: $body-color;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover {
  color: $body-color !important;
}

table.dataTable thead td,
table.dataTable thead th {
  background: $white-color;
  color: $title-color;
  border-color: #ddd;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  color: $body-color !important;
  &:hover {
    color: $body-color !important;
    border-color: $white-color;
    background: $white-color;
  }
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  color: $white-color !important;
  border-color: $link-color;
  background: $link-color;
}

input[type="search"] {
  border: 1px solid $body-color;
}

// Google Map
.adp,
.adp table {
  font-family: Roboto, Arial, sans-serif;
  font-weight: 300;
  color: #2c2c2c
}

.adp b,
.adp-list b {
  font-weight: 400
}

.adp-warnbox {
  margin: 5px 0 3px
}

.warnbox-content {
  background: #fff1a8;
  padding: 5px 6px
}

.warnbox-c1,
.warnbox-c2 {
  background: #fff1a8;
  font-size: 1px;
  height: 1px;
  overflow: hidden
}

.warnbox-c1 {
  margin: 0 2px
}

.warnbox-c2 {
  margin: 0 1px
}

.adp-list {
  background: #fff;
  border: 1px solid #cdcdcd;
  cursor: pointer;
  padding: 4px;
  font-family: Roboto, Arial, sans-serif;
  font-weight: 300;
  color: #2c2c2c
}

.adp-fullwidth {
  width: 100%
}

.adp-listsel {
  background: #eee;
  text-decoration: none
}

.adp-listheader {
  padding: 4px
}

.adp-placemark {
  background: #eee;
  border: 1px solid silver;
  color: #000;
  cursor: pointer;
  margin: 10px 0;
  vertical-align: middle
}

img.adp-marker {
  width: 22px;
  height: 40px
}

.adp-details,
.adp-legal {
  color: #676767
}

.adp-summary {
  padding: 0 3px 3px
}

.adp-step,
.adp-substep {
  border-top: 1px solid #cdcdcd;
  margin: 0;
  padding: .3em 3px;
  vertical-align: top
}

.adp-list img,
.adp-substep img {
  width: 15px;
  height: 15px;
  position: relative;
  top: 2px;
  margin-right: 3px
}

.adp-distance {
  white-space: nowrap
}

.adp-step,
.adp-text {
  width: 100%
}

.adp-directions {
  cursor: pointer;
  border-collapse: collapse
}

.adp-list .gm-arrow {
  width: 8px;
  height: 9px;
  margin: 5px 0 3px
}

.adp-agencies {
  font-size: 80%;
  margin: 5px 0
}

.adp-summary-duration {
  float: right;
  margin-left: 7px;
  white-space: nowrap
}

.adp-substep .gm-line {
  margin-right: 4px
}

.adp-substep .adp-stepicon {
  overflow: hidden;
  position: relative;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px
}

.adp-substep .adp-stepicon .adp-maneuver {
  background-size: 19px 630px;
  position: absolute;
  left: 0;
  width: 16px;
  height: 16px
}

.adp-substep .adp-stepicon .adp-maneuver.adp-ferry {
  background-position: 0 -614px
}

.adp-substep .adp-stepicon .adp-maneuver.adp-ferry-train {
  background-position: 0 -566px
}

.adp-substep .adp-stepicon .adp-maneuver.adp-merge {
  background-position: 0 -143px
}

.adp-substep .adp-stepicon .adp-maneuver.adp-straight {
  background-position: 0 -534px
}

.adp-substep .adp-stepicon .adp-maneuver.adp-fork-left {
  background-position: 0 -550px
}

.adp-substep .adp-stepicon .adp-maneuver.adp-ramp-left {
  background-position: 0 -598px
}

.adp-substep .adp-stepicon .adp-maneuver.adp-roundabout-left {
  background-position: 0 -197px
}

.adp-substep .adp-stepicon .adp-maneuver.adp-turn-left,
.adp-substep .adp-stepicon .adp-maneuver.adp-keep-left {
  background-position: 0 -413px
}

.adp-substep .adp-stepicon .adp-maneuver.adp-turn-sharp-left {
  background-position: 0 0
}

.adp-substep .adp-stepicon .adp-maneuver.adp-turn-slight-left {
  background-position: 0 -378px
}

.adp-substep .adp-stepicon .adp-maneuver.adp-uturn-left {
  background-position: 0 -305px
}

.adp-substep .adp-stepicon .adp-maneuver.adp-fork-right {
  background-position: 0 -499px
}

.adp-substep .adp-stepicon .adp-maneuver.adp-ramp-right {
  background-position: 0 -429px
}

.adp-substep .adp-stepicon .adp-maneuver.adp-roundabout-right {
  background-position: 0 -232px
}

.adp-substep .adp-stepicon .adp-maneuver.adp-turn-right,
.adp-substep .adp-stepicon .adp-maneuver.adp-keep-right {
  background-position: 0 -483px
}

.adp-substep .adp-stepicon .adp-maneuver.adp-turn-sharp-right {
  background-position: 0 -582px
}

.adp-substep .adp-stepicon .adp-maneuver.adp-turn-slight-right {
  background-position: 0 -51px
}

.adp-substep .adp-stepicon .adp-maneuver.adp-uturn-right {
  background-position: 0 -35px
}

.adp-substep .adp-stepicon .adp-maneuver {
  background-image: url(https://maps.gstatic.com/mapfiles/api-3/images/maneuvers.png);
}