@media (max-width: 1024px) and (orientation: portrait) {
    // .embed-responsive-16by9 {
    //     padding-bottom: 100%;
    // }
}

@media (max-width: 480px) and (orientation: portrait) {
    // .embed-responsive-16by9 {
    //     padding-bottom: 120%;
    // }
}

// 1200
@media (min-width: $desktop) {
    $size-grid: 1170px;
    @function remGird($size) {
        @return percentage($size / $size-grid);
    } // .title-page {
    //     margin-bottom: 0;
    // }
    .title-header {
        display: none;
    }
    .footer {
        padding-left: 135px;
        padding-bottom: 10px;
        padding-top: 10px;
    }
    .block-group-button {
        .button-app-defalt {
            line-height: $line-height-default;
            margin: 0;
            padding: 10px 15px;
        }
    }
    .page-run .scroll-content {
        margin-bottom: 120px;
    }
    .far-text {
        font-size: 18px;
        @include wp-font(font-bold);
        color: $title-color;
    }
    .group-car {
        flex: 1 1 auto;
        overflow: hidden;
        padding-left: 20px;
        .ion-scroll {
            width: 100%;
        }
        .scroll-content {
            margin: 0;
        }
    }
}

// 1199
@media (max-width: $desktop - 1) {
    .bg-none {
        padding-left: 0 !important;
        text-align: left;
    }
    .title-page {
        display: none !important;
    }
    .title-header {
        font-size: 20px;
        font-weight: bold;
        margin: 0;
    }
    .embed-responsive {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        height: calc(100vh - 56px);
        padding-bottom: 0 !important;
    }
    .menu-content .scroll-content {
        margin-top: rem(56px);
    }
    .ion-menu {
        display: block;
        height: rem(56px);
        .ion-content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 rem(20px);
        }
    }
    .logo {
        font-size: 0;
        @include flex-width-col-xs(40px);
        img {
            margin-bottom: 0;
        }
    }
    .block-menu {
        display: none;
    }
    .navbar-toggle {
        display: block;
        margin: 0;
        padding: 0;
        border-radius: 0;
        border: 0 none;
        .icon-bar {
            background-color: $link-color;
            border-radius: 0;
        }
    }
    .app-root,
    .ion-menu {
        contain: none;
    } // Menu Mobi
    #page {
        padding-left: 0;
        right: 0;
        transition: all 0.5s ease-in-out;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        position: relative;
        margin-right: 0;
        left: auto;
    }
    #page.toggled {
        @include sizeRem(right, 250px);
        .btn-close {
            display: block;
        }
        .navbar-toggle {
            visibility: hidden;
        }
    }
    .btn-close {
        display: none;
        border-radius: 50%;
        background: url('../images/btn-close.png') no-repeat center center #ccc;
        box-shadow: 0 12px 27px rgba(0, 0, 0, 0.15);
        cursor: pointer;
        position: absolute;
        @include sizeRem(right,
        8px);
        @include sizeRem(top,
        15px);
        @include sizeRem(width,
        48px);
        @include sizeRem(height,
        48px);
        z-index: 999;
    }
    #page.toggled .block-menu {
        right: 0;
        display: block;
    }
    .overlay {
        cursor: pointer;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 999;
        background-color: rgba(0, 0, 0, 0.2);
        width: 100%;
        height: 100%;
    }
    .nav {
        .open>a {
            background: none;
            &:hover,
            &:focus {
                background: none;
            }
        }
    }
    .block-menu {
        background: #333;
        bottom: 0;
        display: block !important;
        height: 100%;
        overflow-y: auto !important;
        position: fixed;
        @include sizeRem(right,
        -250px);
        @include sizeRem(width,
        250px);
        top: 0;
        z-index: 1000;
        transition: all 0.5s ease-in-out;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        .container {
            padding: 0;
            position: static;
            width: auto;
        }
        .list-group-item {
            border: 0 none;
            border-radius: 0;
            background-color: transparent;
        }
        .fa {
            margin-right: rem(5px);
        }
        /* main-menu */
        ul {
            padding: 0;
            margin: 0;
            a {
                display: block;
                color: #ccc;
                padding-left: 0;
                padding-right: 0;
                @include sizeRem(padding-top,
                10px);
                @include sizeRem(padding-bottom,
                10px);
                text-decoration: none;
                &:hover,
                &:focus {
                    color: #555;
                }
                &.is-active {
                    color: #555;
                }
            }
            >li {
                border-top: 1px solid rgba(0, 0, 0, 0.3);
                text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
                box-shadow: 0 1px 0 rgba(255, 255, 255, 0.05) inset;
                display: block;
                float: none;
                list-style: none;
                margin: 0;
                padding: 0;
                >a {
                    @include sizeRem(padding-left,
                    15px);
                    @include sizeRem(padding-right,
                    15px);
                }
                &:first-child {
                    border-top: none;
                    box-shadow: inherit;
                }
                ul {
                    @include sizeRem(padding-left,
                    20px);
                    @include sizeRem(padding-bottom,
                    5px);
                    li {
                        border-bottom: 0;
                        a {
                            padding: {
                                left: 0;
                                right: 0;
                                @include sizeRem(top,
                                7px);
                                @include sizeRem(bottom,
                                7px);
                            }
                        }
                    }
                }
            }
            .expanded {
                >a {
                    position: relative;
                    &:before {
                        // @include nucleo_glyph;
                        // content: '\ea91';
                        position: absolute;
                        top: 50%;
                        right: 0;
                        @include sizeRem(width,
                        20px);
                        @include sizeRem(height,
                        20px);
                        @include sizeRem(margin-top,
                        -10px);
                        line-height: 1.3;
                        text-align: right;
                    }
                }
            }
        }
    } // end Mobile-menu
}

// 992 - 1199
@media (min-width: $tablet-ht) and (max-width: $desktop - 1) {
    $size-grid: 970px;
    @function remGird($size) {
        @return percentage($size / $size-grid);
    }
}

// 991
@media (max-width: $tablet-ht - 1) {
    .row {
        justify-content: center;
    }
    .block-map {
        [class*="col-md-"] {
            @include flex-width-col-xs(100%);
        }
    }
}

// 768 - 991
@media (min-width: $tablet-vt) and (max-width: $tablet-ht - 1) {
    $size-grid: 750px;
    @function remGird($size) {
        @return percentage($size / $size-grid);
    }
    .view-grid-3-cols {
        .view-content {
            margin-left: remGird(-20px) / 2;
            margin-right: remGird(-20px) / 2;
        }
        .views-row {
            @include flex-width-col-xs(25% - remGird(20px));
            margin-left: remGird(20px) / 2;
            margin-right: remGird(20px) / 2;
        }
    }
}

// 767
@media (max-width: $tablet-vt - 1) {
    .form-control {
        height: 50px;
        font-size: 16px;
        border-color: #fff;
    }
    [class*="col-md-"] {
        @include flex-width-col-xs(70%);
    }
    .block-list-book {
        [class*="col-md-"] {
            @include flex-width-col-xs(100%);
        }
    }
    .block-map {
        >.row {
            margin-left: rem(-20px);
            margin-right: rem(-20px);
        }
        [class*="col-md-"] {
            padding-left: 0;
            padding-right: 0;
        }
    }
}

// 640
@media (max-width: $mobile) {}

// 480
@media (max-width: $mobile-md) {
    [class*="col-md-"] {
        @include flex-width-col-xs(100%);
    }
    .title-header {
        font-size: 16px;
        max-width: 230px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    .bg-none {
        padding-right: 0 !important;
    }
    .footer .button-app-defalt {
        height: 40px;
        padding: 10px 15px;
        font-size: 14px;
        width: auto;
    }
    .fa-list,
    .fa-location-arrow,
    .fa-map {
        font-size: 13px;
    }
}

// 360
@media (max-width: $mobile-sm) {
    .title-header {
        max-width: 200px;
    }
}

// 320
@media (max-width: $mobile-xs) {}