// ====================
// View lists : view, view-frontpage, view-view ,view-type-[class], .....
// ---
.view {
	.views-field {
		@include sizeRem(margin-bottom, 10px);
		&:last-child {
			margin-bottom: 0;
		}
	} // view a
	// view b
	// ...
}

.adp-placemark,
.adp-legal {
	width: 100%;
	td:first-child {
		width: 22px;
	}
}

.adp-step,
.adp-text {
	width: auto !important;
	padding-left: 10px;
}

.justify-content-between {
	justify-content: space-between !important;
	display: flex;
}

.fa-location-arrow {
	transform: rotate(-43deg);
	font-size: 15px;
	margin-right: 4px;
}

#action-map {
	display: none;
	width: auto;
}

.fa-list,
.fa-map {
	font-size: 15px;
	margin-right: 4px;
}

.bg-none {
	background: none !important;
	border-color: transparent !important;
	color: $body-color !important;
}

.block-step-sp {
	font-size: 20px;
	color: $title-color;
	span {
		color: $body-color;
		padding-left: 5px;
	}
	#header-panel {
		padding-bottom: 10px;
		margin-bottom: 15px;
		border-bottom: 1px solid rgba($body-color, .1);
	}
	.title-step {
		font-weight: bold;
		margin-top: 0;
	}
	#right-panel {
		overflow-x: hidden;
		overflow-y: auto;
		height: calc(100vh - 175px);
		padding-bottom: 20px;
	}
}

.block-step-sp {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background: white;
	padding: 10px 20px;
	transform: translateY(calc(100% - 120px));
	z-index: 19;
	height: 100vh;
	transition: transform .4s ease-in-out;
	&.full-step {
		transform: translateY(0);
	}
	@media (min-width: 1200px) {
		padding: 10px 40px 10px 165px;
	}
	@media (max-width: 1199px) {
		height: calc(100vh - 56px);
		transform: translateY(calc(100% - 115px));
		max-width: none !important;
		.title-step {
			margin-bottom: 10px;
		}
		#right-panel {
			height: calc(100vh - 220px);
			font-size: 14px;
		}
	}
	@media (max-width: 480px) {
		transform: translateY(calc(100% - 103px));
		#right-panel {
			height: calc(100vh - 205px);
		}
		#header-panel {
			font-size: 16px;
		}
	}
}

.page-accept.modal-open {
	// position: relative;
	// &:before {
	// 	content: '';
	// 	position: absolute;
	// 	top: 0;
	// 	right: 0;
	// 	bottom: 0;
	// 	left: 0;
	// 	z-index: 1040;
	// 	background-color: #000;
	// 	opacity: .5;
	// }
	.modal {
		opacity: 1; // display: block;
		visibility: visible;
	}
	.modal-backdrop {
		opacity: .6;
		display: block;
		visibility: visible;
	}
	.modal .modal-dialog {
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
	}
}

.modal {
	.img-thumbnail {
		width: 120px;
		height: 120px;
		display: flex;
		align-items: center;
		justify-content: center;
		border: 2px solid $link-color;
		margin-left: auto;
		margin-right: auto;
		border-radius: 50%;
		position: relative;
	}
	.count-down {
		position: absolute;
		font-size: 80px;
		color: white;
		background: rgba(0, 0, 0, .4);
		left: 5px;
		top: 5px;
		bottom: 5px;
		right: 5px;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	h4 {
		font-size: 20px;
		color: black;
		font-weight: bold;
	}
	.description {
		font-size: 16px;
	}
	.modal-footer {
		text-align: center;
	}
	.btn {
		font-size: 14px;
		min-width: 100px;
		padding: 10px 15px;
	}
	.btn-blue-grey {
		background-color: #78909c;
		border-color: #78909c;
		color: $white-color;
		&:hover,
		&:focus {
			background-color: darken(#78909c, 8%);
			border-color: darken(#78909c, 8%);
			color: $white-color;
		}
	}
}

.page-accept {
	.modal {
		visibility: hidden;
		display: block;
		opacity: 1;
	}
	.modal-backdrop {
		visibility: hidden;
		opacity: 1;
	}
}

@media (min-width: 768px) {
	.modal-dialog {
		width: 480px;
	}
}

// Login Page
.login-form {
	.login-form-inner {
		// left: 0;
		// top: 0;
		// position: absolute;
		// z-index: 0;
		// display: block;
		// width: 100%;
		// height: 100%;
	} // .page {
	// 	left: 0 !important;
	// 	right: 0 !important;
	// 	top: 0;
	// 	bottom: 0;
	// 	position: absolute !important;
	// 	background-color: $link-color;
	// 	overflow-y: auto;
	// 	overflow-x: hidden;
	// 	display: flex;
	// }
	.page {
		background-color: $link-color;
		overflow-y: auto;
		overflow-x: hidden;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: center;
		max-height: 100%;
		flex: 1 1 auto;
		width: 100%;
		padding-top: 30px;
		padding-bottom: 30px;
		height: 100vh;
	}
	.page-inner {
		max-height: 100%;
		width: 100%;
		max-width: 100%;
		>*:last-child {
			margin-bottom: 30px;
		}
	}
	.logo {
		margin-bottom: 30px;
		padding: 0;
		border: 0;
		width: 100%;
		display: block;
		max-width: 300px;
		margin-left: auto;
		margin-right: auto;
		img {
			max-width: 100%;
			margin: 0;
			height: auto;
		}
	}
	.block-form {
		max-width: 400px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		.form-item {
			margin-top: .625rem;
			margin-bottom: .625rem
		}
		.form-type-checkbox {
			padding-left: .9375rem
		}
		.form-type-checkbox input[type="checkbox"] {
			position: relative;
			top: -1px;
			margin-right: 5px
		}
		.form-type-checkbox label {
			color: #fff;
			font-size: .875rem
		}
		.group-action {
			margin-top: 1.5625rem
		}
	}
	.form-text {
		height: 2.5rem;
		padding: .625rem .9375rem .625rem .9375rem;
		line-height: 1.42857143;
		width: 100%;
		box-shadow: none;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-webkit-box-shadow: none;
		border: 1px solid #f5f5f5;
		font-size: 1rem;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		border-radius: 3px
	}
	.form-text:-moz-placeholder {
		color: #a7a7a7
	}
	.form-text::-moz-placeholder {
		color: #a7a7a7
	}
	.form-text:-ms-input-placeholder {
		color: #a7a7a7
	}
	.form-text::-webkit-input-placeholder {
		color: #a7a7a7
	}
	.form-text:focus {
		border-color: transparent;
		border-bottom-color: #bcc5cf
	}
	.form-submit {
		display: inline-block;
		-webkit-border-radius: .1875rem;
		border-radius: .1875rem;
		font-size: 1rem;
		font-family: "Roboto", sans-serif;
		font-weight: 700;
		padding: .5rem 1.5625rem .5rem 1.5625rem;
		background-color: #fff;
		color: #343434;
		-moz-transition: all .3s;
		-o-transition: all .3s;
		-webkit-transition: all .3s;
		transition: all .3s;
		line-height: 1.42857143;
		border-color: #fff;
		background-color: #fff;
		width: 100%;
		display: block;
		color: #666666
	}
	.form-submit:hover,
	.form-submit:focus {
		background-color: #92b558;
		color: #fff
	}
	.form-submit:hover,
	.form-submit:focus {
		background-color: #e6e6e6;
		border-color: #e6e6e6;
		color: #92b558
	}
	.text-center {
		color: rgba($white-color, .7);
		a {
			color: rgba($white-color, 1);
			text-decoration: underline;
			font-weight: bold;
			&:hover,
			&:focus {
				text-decoration: none;
			}
		}
	}
	.btn-google {
		background-color: #dd4b39;
		color: $white-color;
		text-align: center;
		&:hover,
		&:focus {
			background-color: #e15f4f;
			color: $white-color;
		}
	}
	@media (min-width: 768px) {
		.logo {
			margin-bottom: 60px;
		}
	}
	@media (max-width: 430px) {
		.page {
			padding-left: 15px !important;
			padding-right: 15px !important;
		}
		.block-form {
			min-width: auto;
			width: 100%;
		}
		.logo {
			max-width: 250px;
		}
		.text-center {
			max-width: 200px;
			margin-left: auto;
			margin-right: auto;
		}
	}
}

.primary {
	color: #337ab7;
}

.success {
	color: #5cb85c;
}

.info {
	color: #5bc0de;
}

.warning {
	color: #f0ad4e;
}

.danger {
	color: #d9534f;
}

.note {
	max-width: 200px;
	white-space: normal;
}

.btn-hist {
	color: $white-color;
	cursor: pointer;
	&:hover,
	&:focus {
		text-decoration: underline;
	}
}

.modal-history {
	table.dataTable.no-footer {
		border-bottom: 0 none;
	}
}

@media (min-width: 768px) {
	.modal-history {
		.modal-dialog {
			width: 738px;
		}
	}
}

.block-list-history {
	position: absolute; // top: 65px;
	top: (40 / 7.2) + vw;
	.action-history {
		text-align: center;
		margin-top: 20px;
		.btn {
			min-width: 200px;
		}
	}
}

.btn-primary:active:focus,
.btn-primary:active:hover {
	background-color: #7d9e46;
	border-color: #7d9e46;
}

@media (min-width: 1200px) {
	.slide-inner {
		min-height: 600px;
	}
	.block-list-history {
		width: 100%;
	}
}

@media (max-width: 1199px) {
	.block-list-history {
		left: 15px;
		right: 15px;
	}
}

@media (max-width: 767px) {
	.block-list-history {
		[class*=col-md-] {
			@include flex-width-col-xs(100%);
		}
	}
}

@media (max-width: 400px) {
	.block-list-history .action-history .btn {
		min-width: 100%;
	}
}

.block-list-history {
	opacity: 0;
	transition: .3s all ease-in-out;
	transform: translateY(50%);
	visibility: hidden;
}

.page-home {
	.title-page {
		// display: none;
		opacity: 1;
		transition: .3s all ease-in-out;
		visibility: visible;
	}
	.block-add-client {
		// display: none;
		opacity: 1;
		transition: .3s all ease-in-out;
		visibility: visible;
	}
}

.page-history {
	.block-list-history {
		opacity: 1;
		transform: translateY(0);
		visibility: visible;
		.title-page {
			display: block !important;
		}
	}
	.title-page {
		// display: none;
		opacity: 0;
		visibility: hidden;
	}
	.block-add-client {
		// display: none;
		opacity: 0;
		visibility: hidden;
	}
}