// ====================
// Section, Region, Aside, Article, Node, ....
// ---
.menu-content {
	.scroll-content {
		display: flex;
	}
}

.slide-content {
	padding: rem(20px);
}

.ion-footer {
	bottom: 0;
	z-index: 20;
}