// ====================
// View lists : view, view-frontpage, view-view ,view-type-[class], .....
// ---
.view {
	.views-field {
		@include sizeRem(margin-bottom, 10px);
		&:last-child {
			margin-bottom: 0;
		}
	} // view a
	// view b
	// ...
}

.page-accept.modal-open {
	// position: relative;
	// &:before {
	// 	content: '';
	// 	position: absolute;
	// 	top: 0;
	// 	right: 0;
	// 	bottom: 0;
	// 	left: 0;
	// 	z-index: 1040;
	// 	background-color: #000;
	// 	opacity: .5;
	// }
	.modal {
		opacity: 1;
	}
	.modal-backdrop {
		opacity: .6;
	}
	.modal.show .modal-dialog {
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
	}
}

.modal {
	.img-thumbnail {
		width: 120px;
		height: 120px;
		display: flex;
		align-items: center;
		justify-content: center;
		border: 2px solid $link-color;
		margin-left: auto;
		margin-right: auto;
		border-radius: 50%;
		position: relative;
	}
	.count-down {
		position: absolute;
		font-size: 80px;
		color: white;
		background: rgba(0, 0, 0, .4);
		left: 5px;
		top: 5px;
		bottom: 5px;
		right: 5px;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	h4 {
		font-size: 20px;
		color: black;
		font-weight: bold;
	}
	.description {
		font-size: 16px;
	}
	.modal-footer {
		text-align: center;
	}
	.btn {
		font-size: 14px;
		min-width: 100px;
		padding: 10px 15px;
	}
	.btn-blue-grey {
		background-color: #78909c;
		border-color: #78909c;
		color: $white-color;
		&:hover,
		&:focus {
			background-color: darken(#78909c, 8%);
			border-color: darken(#78909c, 8%);
			color: $white-color;
		}
	}
}

@media (min-width: 768px) {
	.modal-dialog {
		width: 480px;
	}
}