/*------------------------------------------------------------------*/
/* Typography */

html{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    font-size: 100%;
    font-size: $size-default;
}

body {
    color: $body-color;
    @include wp-font(font-body);
    @include sizeRem(font-size,16px);
    line-height: $line-height-default;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6{
    color: $title-color;
    @include sizeRem(margin-bottom, 20px);
}
h1, h2, h3,
.h1, .h2, .h3{
    line-height: 1.1;
    @include wp-font(font-bold);
    color: $title-color;
    @include wp-font(font-body);
}

h1, .h1{
    @include sizeRem(font-size, 80px);
}
h2, .h2{
    @include sizeRem(font-size, 48px);
}
h3, .h3{
    @include sizeRem(font-size, 32px);
}
h4, .h4{
    @include sizeRem(font-size, 16px);
}
h5, .h5{
    @include sizeRem(font-size, 16px);
}
h6, .h6{
    @include sizeRem(font-size, 16px);
}

a {
    transition: all 0.3s ease-out;
    color: $link-color;
    outline: none;
    &:hover, &:focus {
        color: darken($link-color, 8%);
        outline: none;
        text-decoration: none;
    }
}

strong {
    font-weight: $font-weight-bold;
}

ul, ol {
    @include sizeRem(margin-bottom, 15px);
}

p {
    @include sizeRem(margin-bottom, 15px);
}

address {}

label {}

img {
    max-width: 100%;
    height: auto;
}

input, select, textarea {
    max-width: 100%;
}

iframe {
    max-width: 100%;
}








