.position-relative {
  position: relative;
  z-index: 10;
}

.ion-list {
  margin: 0;
}

.logo {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  color: #000000;
  white-space: normal;
  text-transform: capitalize;
  @include wp-font(font-bold);
  font-size: 12px;
  margin: 0;
  text-align: center;
  cursor: default;
  pointer-events: none;
  &:hover,
  &:focus {
    color: $black-color;
  }
  img {
    max-width: 40px;
  }
  @media (min-width: $desktop) {
    border-bottom: 1px solid #dde1e3;
    padding: 32px 10px;
    img {
      margin-bottom: 10px;
    }
  }
}

.ion-menu {
  background-color: $white-color;
}

.ion-nav {
  padding: 16px;
}

.scroll-content {
  -ms-overflow-style: none; // IE 10+
  overflow: -moz-scrollbars-none; // Firefox
  &::-webkit-scrollbar {
    display: none;
    width: 0;
  }
}

@media (min-width: $desktop) {
  .ion-nav {
    left: 96px;
    width: auto;
    right: 0;
  }
  .block-menu {
    height: calc(100vh - 120px);
    a {
      text-align: center;
    }
    li {
      border-top: 1px solid #dde1e3;
      &:first-child {
        border-top: 0 none;
      }
    }
    .list-group-item {
      border: 0 none;
      display: block;
      padding: 20px 10px;
      border-radius: 0;
      white-space: normal;
      text-transform: capitalize;
      @include wp-font(font-bold);
      font-size: 12px;
      color: #808890;
      margin: 0;
      text-align: center;
      background-color: transparent;
      &:hover,
      &:focus {
        color: $link-color;
        background-color: transparent;
      }
      .fa {
        font-size: 24px;
        display: block;
      }
    }
  }
}

.form-control {
  height: 60px;
  font-size: 24px;
  border-color: $white-color;
  &:focus {
    border-color: $link-color;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba($link-color, .6);
  }
}

.btn {
  padding: 12px;
  font-size: 24px;
  @include wp-font(font-bold);
}

.btn-primary {
  background-color: $link-color;
  border-color: $link-color;
  &:hover,
  &:focus {
    background-color: darken($link-color, 8%);
    border-color: darken($link-color, 8%);
  }
}

.row {
  justify-content: center;
}

@media (min-width: 768px) {
  .nowrap {
    white-space: nowrap;
  }
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td {
  vertical-align: middle;
  &:first-child {
    color: $title-color;
  }
}

.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_paginate,
.dataTables_wrapper .dataTables_processing {
  color: $body-color;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover {
  color: $body-color !important;
}

table.dataTable thead td,
table.dataTable thead th {
  background: $white-color;
  color: $title-color;
  border-color: #ddd;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  color: $body-color !important;
  &:hover {
    color: $body-color !important;
    border-color: $white-color;
    background: $white-color;
  }
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  color: $white-color !important;
  border-color: $link-color;
  background: $link-color;
}

input[type="search"] {
  border: 1px solid $body-color;
}