// ====================
// Fonts Family
// Input: $type (font-family)
// Output: Font-family
// Ex: @include wp-font(font-body)
// ==> font-family: $font-body; font-weight: $font-weight-bold;
// ---
@mixin wp-font($type){
    @if $type == font-body{
        font-family: $font-body;
        font-weight: $font-weight-body;
    }
    @else if $type == font-bold{
        font-family: $font-bold;
        font-weight: $font-weight-bold;
    }
    @else if $type == font-semibold{
        font-family: $font-semibold;
        font-weight: $font-weight-semibold;
    }
    @else if $type == font-light{
        font-family: $font-light;
        font-weight: $font-weight-light;
    }
}

// ====================
// Fonts Size Rem
// Input: $type (Property css), $size (Value Px)
// Output: $type: convert to $rem
// ---
// @function rem($size) {
//   $remSize: $size / 16;
//   @return #{$remSize}rem;
// }

@function rem($size){
    @return $size / $size-default + rem;
}

// Ex: @include sizeRem(font-size, 10px);
// ==> font-size: 0.625rem;
// Ex: @include sizeRem(padding-top, 10px,$important: true);
// ==> padding-top: 0.625rem !important;
// Ex: @include sizeRem(margin, 25px, 1);
// ==> margin: 25px 25px 25px 25px;
// Ex: @include sizeRem(margin, 25px, 1, !important);
// ==> margin: 25px 25px 25px 25px !important;
// Ex: @include sizeRem(margin, 25px, 2, 30px);
// ==> margin: 25px 30px 25px 30px;
// Ex: @include sizeRem(margin, 25px, 2, 30px, $important: true);
// ==> margin: 25px 30px 25px 30px !important;
// Ex: @include sizeRem(margin, 25px, 4, 30px, 35px, 40px);
// ==> margin: 25px 30px 35px 40px;
// Ex: @include sizeRem(margin, 25px, 4, 30px, 35px, 40px, $important: true);
// ==> margin: 25px 30px 35px 40px !important;
// Note: 0 => 0px
@mixin sizeRem($type, $size, $side: 0, $sizeright: false, $sizebottom: false, $sizeleft: false, $important:false) {
    @if $important{
        @if $side == 0 {
            #{$type}: rem($size) !important;  
        }
       @if $side == 1 {
        #{$type}: rem($size) rem($size) rem($size) rem($size) !important;  
      }
      @else if $side == 2 {
        #{$type}: rem($size) rem($sizeright) rem($size) rem($sizeright) !important;  
      }
      @else if $side == 4{
        #{$type}: rem($size) rem($sizeright) rem($sizebottom) rem($sizeleft) !important;  
      } 
    }
    @else {
        @if $side == 0 {
            #{$type}: rem($size);  
        }
       @if $side == 1 {
        #{$type}: rem($size) rem($size) rem($size) rem($size);  
      }
      @else if $side == 2 {
        #{$type}: rem($size) rem($sizeright) rem($size) rem($sizeright);  
      }
      @else if $side == 4{
        #{$type}: rem($size) rem($sizeright) rem($sizebottom) rem($sizeleft);  
      }  
    }
  
}

// ====================
// Read Icon List
// ----
@mixin icons($name, $width, $height, $type: true){
    .#{$name}{
        width: $width;
        height: $height;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        display: inline-block;
    }
    @if $type {
        .#{$name}{
            background-image: url('../images/icons/#{$name}.svg');
        }
    }
    @else {
        .#{$name}{
            background-image: url('../images/icons/#{$name}.png');
        }
    }
}


// ====================
// Mixins
// ---
@mixin clearfix {
    &:before,
    &:after {
        display: table;
        content: " ";
    }
    &:after {
        clear: both;
    }
}

@mixin border-radius-rem($size) {
    -webkit-border-radius: rem($size);
    border-radius: rem($size);
}

@mixin fontawesome {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

// ====================
// Mixins Form
// ---
@mixin form-default-label {
    label {
        display: block;
        @include sizeRem(margin-bottom, 5px);
    }
}

@mixin form-default-input {
    border: 1px solid rgba($title-color, .3);
    @include border-radius-rem(3px);
    background-color: $white-color;
    color: $title-color;
    &:focus {
        border: 1px solid rgba($title-color, .6);
        outline: none;
    }
}

// ====================
// Mixins Buttons
// ---
@mixin btn($bg: $link-color, $color: $white-color, $border-color: $link-color) {
    display: inline-block;
    @include border-radius-rem(5px);
    @include sizeRem(font-size, 16px);
    @include wp-font(font-bold);
    @include sizeRem(padding, 9px, 2, 25px);
    border: 1px solid $border-color;
    background-color: $bg;
    color: $color;
    transition: 0.3s all;
    line-height: $line-height-default;
    &:hover,
    &:focus {
        background-color: darken($bg, 8%);
        color: $white-color;
        border-color: darken($border-color, 8%);
    }
}

// ====================
// Mixins Container bootstrap
// ---
@mixin container {
    @include sizeRem(padding-left, 15px);
    @include sizeRem(padding-right, 15px);
    margin: 0 auto;
    @media (min-width: $desktop) {
        width: 1170px;
    }
    @media (min-width: $tablet-ht) and (max-width: $desktop - 1) {
        width: 970px;
    }
    @media (min-width: $tablet-vt) and (max-width: $tablet-ht - 1) {
        width: 750px;
    }
}


// ====================
// Mixins Flex
// ---
@mixin flex-row{
    @include display-flexbox;
    @include flex-wrap(wrap);
}

@mixin flex-col-xs {
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}
@mixin flex-width-col-xs($val){
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 $val;
    -ms-flex: 0 0 $val;
    flex: 0 0 $val;
    max-width: $val;
}

@mixin flex-width-auto{
    @include flex(1 1 auto);
}

// ====================
// View grid Custom
// Using class: view-grid-1-cols, .... , view-grid-10-cols
// ---

$item-start: 1;
$item-end: 10;
$class-grid : view-grid;
$flex-parent: view-content;
$flex-item: views-row;
$percent: 1;
$size-grid: 1170px;

@function remGird($size) {
    @return percentage($size / $size-grid);
}

@mixin margin-parent{
    margin-left: remGird(-30px) / 2;
    margin-right: remGird(-30px) / 2;
}
@mixin padding-parent{
    margin-left: remGird(30px) / 2;
    margin-right: remGird(30px) / 2;
    @include sizeRem(margin-bottom, 30px);
}

@mixin views-grid($type: true){
    @for $i from $item-start through $item-end {
        .#{$class-grid}-#{$i}-cols{
            .#{$flex-parent}{
                @include margin-parent;
                @if $type == true{
                    display: flex;
                    flex-wrap: wrap;
                }
            }
            .#{$flex-item}{
                @include padding-parent;
                @if $type == true{
                    @include flex-width-col-xs(percentage($percent / $i) - remGird(30px));
                    display: flex;
                    flex-direction: column;
                }
                @else if $type == false{
                    width: percentage($percent / $i) - remGird(30px);
                }
            }
        }
    }
}



// ====================
// Layout Header
// ---
@mixin flex-header($item-left, $item-right, $item-left-width, $item-right-width){
    @include display-flexbox;
    @include align-items(center);
    @include flex-wrap(nowrap);
    .#{$item-left}{
        display: inline-block;
        @include sizeRem(margin-right, 16px);
    }
    .#{$item-right}{
        width: 100%;
        @include display-flexbox;
        @include justify-content(flex-end);
        @include align-items(center);
    }
}


// ====================
// Mixins Effect
// ---
@-webkit-keyframes fadeInFromNone {
    from {
        display: none;
        opacity: 0;
    }
    to {
        display: block;
        opacity: 1;
    }
}

@-moz-keyframes fadeInFromNone {
    from {
        display: none;
        opacity: 0;
    }
    to {
        display: block;
        opacity: 1;
    }
}

@-o-keyframes fadeInFromNone {
    from {
        display: none;
        opacity: 0;
    }
    to {
        display: block;
        opacity: 1;
    }
}

@keyframes fadeInFromNone {
    from {
        display: none;
        opacity: 0;
    }
    to {
        display: block;
        opacity: 1;
    }
}

@mixin animated{
    animation-fill-mode: both;
    animation-duration: 0.5s;
    animation-timing-function:cubic-bezier(0.0,
    0.0,
    1.0,
    1.0);

}

@mixin show-fade($class-show){
    display: none;
    &.#{$class-show} {
        display: block;
        @include animated;
        animation-name: fadeInFromNone;
    }
}

// ====================
// Mixins Effect
// $beta True = Drupal 8 Kmagic menu
// False = Drupal 7 tbmega menu
// ---
@mixin master-menu-reset($beta: true){
    @if $beta {
        .kmagic-menu-ul{
            position: static;
            .dropdown-menu{
                &:hover, &:focus{
                    position: relative;
                    > a{
                        color: #fd7e2d;
                        &:after{
                            border-top-color: #fd7e2d ;
                        }
                    }
                    > .kmagic-menu-submenu{
                        display: block; 
                        @include animated;
                        @include animation-name(fadeInFromNone);
                    }
                }
                .dropdown-menu{
                    > a:after{
                        border-top-color: #000000;
                        right: 0;
                    }
                }
            }
            > .dropdown-menu{
                &:hover, &:focus{
                    position: static;
                    > a.kmagic-menu-li{
                        background: #fd7e2d;
                        color: $white-color;
                    }
                    > .kmagic-menu-submenu{
                        top: 99%;   
                    }
                }
                > .kmagic-menu-submenu{
                    width: 100% !important;
                    > .kmagic-menu-submenu-inner{
                        @include container;
                        min-height: 180px;
                    }
                }
            }
            > .kmagic-menu-li{
                padding-bottom: 0;
                margin: 0;
                > a.kmagic-menu-li{
                    background-color: #013ca6;
                    border: 0 none;
                    @include sizeRem(padding, 18px, 2, 10px);
                    @include border-radius(0);
                    color: $white-color;
                    @include sizeRem(font-size, 14px);
                    font-weight: bold;
                    &:after{
                        display: none;
                    }
                    &:hover, &:focus{
                        background: #fd7e2d;
                        border: 0 none;
                        color: $white-color;
                        text-decoration: none;
                        @include text-shadow(initial);
                    }
                }
                &:first-child{
                    > a{
                        font-size: 0;   
                        i{
                            margin-right: 0;
                        }
                    }
                }
                & + .kmagic-menu-li{
                    margin: 0; 
                }
            }
        }   
        .navbar-kmagic_menu{
            background-color: #013ca6;
            @include border-radius(0);
            @include sizeRem(padding-bottom, 1px);
            .container-fluid{
                @include container;
            }
            .kmagic-menu-group > .kmagic-menu-submenu{
                @include animation-name(initial !important);
            }
            a i{
                @include sizeRem(font-size, 20px);
            }
            .kmagic-menu-col > *{
                padding: 0;
            }

        }
        .kmagic-menu-col{
            border: 0 none;
        }
        .kmagic-menu-submenu{
            @include border-radius(0);
            background-color: $white-color;
            li.kmagic-menu-li{
                border-bottom: 0 none;
                @include border-radius(0);
                margin-bottom: 0;
                a{
                    @include border-radius(0);
                    color: $black-color;
                    font-weight: bold;
                    border: 0 none;
                    border-bottom: 1px solid #d8d8d8;
                    padding-left: 0;
                    padding-right: 0;
                    @include sizeRem(padding-top, 8px);
                    @include sizeRem(padding-bottom, 8px);
                    @include sizeRem(margin-right, 10px);
                    &:hover, &:focus{
                        background-color: transparent;
                        color: #fd7e2d;
                        border-bottom: 1px solid #d8d8d8;
                        &:after{
                            border-top-color: #fd7e2d;
                        }
                    }
                }
                &:last-child{
                    border-bottom: 0 none;
                }
            }
        }
        .nav-tabs .dropdown-menu{
            margin: 0;
        }
    }
    @else {
        background-color: transparent;
        .nav > li > a{
            border-right: 0 none;
            &:hover, &:focus{
                background-color: transparent;
            }
        }
        .nav .open {
            > a, a:hover, a:focus{
                background-color: transparent;
                border-color: transparent;
            }
        }
    }
}


// ====================
// List for space around: padding, margin 
// ---
// List 1 side
@each $item in $list-item {
    .mt-#{$item} { @include sizeRem(margin-top, $item, $important: true); }
    .mr-#{$item} { @include sizeRem(margin-right, $item, $important: true); }
    .mb-#{$item} { @include sizeRem(margin-bottom, $item, $important: true); }
    .ml-#{$item} { @include sizeRem(margin-left, $item, $important: true); }
    .pt-#{$item} { @include sizeRem(padding-top, $item, $important: true); }
    .pr-#{$item} { @include sizeRem(padding-right, $item, $important: true); }
    .pb-#{$item} { @include sizeRem(padding-bottom, $item, $important: true); }
    .pl-#{$item} { @include sizeRem(padding-left, $item, $important: true); }
}

// List 2 side left, right or top, bottom
@each $item in $list-item{
    .my-#{$item} { 
        @include sizeRem(margin-top, $item, $important: true);
        @include sizeRem(margin-bottom, $item, $important: true);
    }
    .mx-#{$item} { 
        @include sizeRem(margin-left, $item, $important: true);
        @include sizeRem(margin-right, $item, $important: true);
    }
    .py-#{$item} { 
        @include sizeRem(padding-top, $item, $important: true);
        @include sizeRem(padding-bottom, $item, $important: true);
    }
    .px-#{$item} { 
        @include sizeRem(padding-left, $item, $important: true);
        @include sizeRem(padding-right, $item, $important: true);
    }
}

// List 1 for All Side
@each $item in $list-item{
    .m-#{$item} { 
        @include sizeRem(margin, $item, 1, $important: true);
    }
    .p-#{$item} { 
        @include sizeRem(padding, $item, 1, $important: true);
    }
}


// ====================
// Page User basic
// ---
$page-class: page-user;
$setion-class : main;

@mixin page-user-basic{
    .#{$page-class}{
        .#{$setion-class}{
            background-color: #fafafa;
            @include sizeRem(padding-top, 40px);
            @include sizeRem(padding-bottom, 65px);
        }
        div.tabs{
            @include sizeRem(margin-bottom, 40px);
            
        }
    }
    
    form[id="user-login"],
    form[id="user-register-form"],
    form[id="user-pass"],
    .profile{
        border: 0 none;
        background-color: $white-color;
        @include container;
        @include sizeRem(padding, 50px, 2, 100px);
        margin: 0 auto;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
        border-radius: 3px;
        .form-item{
            @include sizeRem(margin-top, 15px);
            @include sizeRem(margin-bottom, 15px);
        }
        .form-actions{
            text-align: center;
            @include sizeRem(margin-top, 30px);
            margin-bottom: 0;
        }
        .description {
            @include sizeRem(margin-top, 5px);
            @include sizeRem(font-size, 13px);
            color: #999999;
        }
        .label{
            color: #999999;
            font-size: rem(14px);
            @include wp-font(font-body);
        }
    }
    @media (min-width: $tablet-vt){
        form[id="user-login"],
        form[id="user-register-form"],
        form[id="user-pass"],
        .profile{
            @include sizeRem(width, 720px);
        }
    }
    @media (max-width: $tablet-vt - 1){
        .#{$page-class}{
            .#{$setion-class}{
                @include sizeRem(padding-top, 20px);
                @include sizeRem(padding-bottom, 45px);
            }
            div.tabs{
                @include sizeRem(margin-bottom, 20px);
                
            }
        }
        form[id="user-login"],
        form[id="user-register-form"],
        form[id="user-pass"],
        .profile{
            @include sizeRem(margin-right, 15px);
            @include sizeRem(margin-left, 15px);
        }

    }
    @media (max-width: $mobile){
        form[id="user-login"],
        form[id="user-register-form"],
        form[id="user-pass"],
        .profile{
            @include sizeRem(padding, 25px, 4, 40px, 30px, 40px);
        }   
    }
}

dl {
    a{
        color: $title-color;
        &:hover, &:focus{
            color: $link-color;
        }
    }   
    dt {
        border-top: 1px dashed $border-color;
        padding-top: 10px;
        @include sizeRem(font-size, 14px);
        @include wp-font(font-bold);
        &:first-child {
            border-top: none;
            padding-top: 0;
        }
        + dt {
            margin-top: 10px;
        }
        &:empty {
            display: none;
        }
    }
    dd {
        @include sizeRem(font-size, 13px);
        @include wp-font(font-medium);
        margin-left: 0;
        padding-bottom: 10px;
        &:last-child {
            padding-bottom: 0;
        }
    }
}



